version: "3.9"

services:
  akkasync-host:
    image: ghcr.io/oninebx/akkasync-host:${AKKASYNC_VERSION}
    container_name: akkasync-host
    restart: unless-stopped
    volumes:
      - ./pipelines:/app/pipelines
      - ./data:/app/data
    ports:
      - "5000:5000"

  akkasync-dashboard:
    image: ghcr.io/oninebx/akkasync-dashboard:${AKKASYNC_VERSION}
    container_name: akkasync-dashboard
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - akkasync-host
