version: "3.9"

services:
  host:
    image: ghcr.io/oninebx/akkasync-host:${AKKASYNC_VERSION}
    container_name: akkasync-host
    restart: unless-stopped
    environment:
      - ASPNETCORE_URLS=http://+:5000
    volumes:
      - ./config:/app/config:ro
      - ./data:/app/data
      - ./plugins/present:/app/plugins
    ports:
      - "5000:5000"

  dashboard:
    image: ghcr.io/oninebx/akkasync-dashboard:${AKKASYNC_VERSION}
    container_name: akkasync-dashboard
    restart: unless-stopped
    environment:
      - DASHBOARD_ENV=demo
      - HOST_URL=http://akkasync-host:5000
    ports:
      - "3000:3000"
    depends_on:
      - host
